.nav-item a:hover{
    background-color: #4CAF50;
    border-radius: 5px;
    padding: 5px;
    transition: 0.5s;
}
.carousel-item  h5,p{
    background-color: rgba(0, 0, 0, .8);
}
#bar{
    font-size: 50px;
}
.course {
    background-color: white;
}